{% load static %}
<div id="loader-wrapper">
    <div id="loader-content">
                <img id="loader-logo" class="themed-image" src="{% static 'images/light/light-logo.svg' %}" alt="پستینا" style="width: 113px ;height: auto;"
                    data-light = "{% static 'images/light/light-logo.svg' %}"
                    data-light2 = "{% static 'images/light-2/light-logo-2.svg' %}"
                    data-dark = "{% static 'images/dark/dark-logo.svg' %}" />
        <div class="spinner-line"></div>
    </div>
</div>