:root{
    --primary:var(--primary-color) !important;
    --secondary:var(--secondary-color) !important;

    --accent: #ffe032;

    --button-hover-bg:var(--primary) !important;
    --default-button-bg:var(--primary) !important;
    --breadcrumbs-bg:var(--primary) !important;
    --link-fg:var(--link-color) !important;
    --link-hover-color:var(--link-color-hover) !important;
    /* --header-branding-color: var(--accent);
    --border-color: var(--border-color) !important;
    
    
    --button-hover-bg:var(--primary) !important;
    --default-button-hover-bg: var(--primary) !important;
    --link-selected-fg: var(--primary) !important;
    --link-fg: var(--primary-color) !important;
    --breadcrumbs-bg : var(--primary) !important;
    
    --default-button-bg:var(--secondary)!important;
    --header-bg: var(--secondary) !important;
    --button-bg: var(--secondary) !important;
    --link-hover-color:var(--secondary-color) !important;
    
    
    --primary-fg:var(--white-color) !important;
    --header-link-color: var(--primary-fg) !important;
    --body-bg:var(--section-bg-color) !important;
    --breadcrumbs-link-fg: var(--body-bg) !important;

    --body-loud-color:var(--dark-color) !important; */
}
body , input , select , textarea , .dashboard #content{
    font-family: vazir, "vazir" !important;
}